/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

.main-wrapper {
    margin: 0 auto;
    width: 1000px;

}

.main-wrapper h2 {
    padding-top: 120px;
}

a {
    text-decoration: none;
    font-family: arial;
}

body {
    background-color: #fff;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

header nav ul {
    float: left;
}

header nav ul li {
    float: left;
    list-style: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #e5dada;
}

header nav ul li a {
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    display: block;
    text-align: center;
    padding: 2px;
    padding-left: 120px;
    width: 150px;

}

header .signup-button {
    float: left;
}

header nav a img {
    float: center;
    height: 200px;
    width: 15%;
    height: 15%;

}

header .nav-login {
    float: right;

}


header .nav-login form {
    float: left;
    padding-top: 15px;
}

header .nav-login form input {
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button {
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
}

header .nav-login form button:hover {
    background-color: #ccc;
}

header .nav-login a {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    float: left;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    cursor: pointer;
}

header .membership {
    position: absolute;
    left: 190px;
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 12px;
    margin-top: 60px;
    background-color: none;
    font-family: helvetica;
    font-size: 14px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header .membership:hover {
  background-color: #FF8C00; /* Orange */
  color: black;
}

header .membershiptwo {
    position: absolute;
    left: 190px;
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 12px;
    margin-top: 135px;
    background-color: none;
    font-family: helvetica;
    font-size: 14px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header .membershiptwo:hover {
  background-color: #FF8C00; /* Orange */
  color: black;
}


header .nav-logout {
    float: right;

}


header .nav-logout form {
    float: right;
    padding-top: 15px;
}


header .nav-logout form button {
    float: right;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
}


.main-container {
    padding-top: 40px;
}

.main-container h2 {
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
}

.pindex {
    padding: 30px;
    font-family: arial;
    color: black;
    margin-top: 100px;
}

/* signup.php*/

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111;
}


.feed-form {
    text-align: center;
}

.feed-form textarea {
    display: inline-block;
    margin-top:20px;
}

.comments {
    text-align: center;
    font-family: helvetica;
}

.comments table {
    display: inline-block;
    margin-top:20px;
}

.comments body {
    font-size: 5px;
}

.comments small {
    font-size: x-small;
}


.main {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 40px;
    padding-top: 50px;
}

.main li {
    list-style: none;
}

.main a {
    font-size: 16px;
    color: #111;
    line-height: 30px;
    cursor: pointer;
}

.main a:hover {
    background-color: #ccc;
}

.main p {
    text-align: center;
    list-style-type: none;
    background-color: #e5dada;
  
}

.mainpoint {
    text-align: center;
    font-family: Helvetica, sans-serif;
    list-style: none;
}

.mainpoint li {
    list-style: none;
}


.footer {
    padding: 30px;
    border: 2px solid orange;
    margin: 100px; 
    margin-top: 20px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer p {
    line-height: 20px;
}
.footer li {
    line-height: 20px;
}


.benefits {
    margin-top: 200px;
}

.benefits h4 {
    text-align: center;
 
}

.benefits p {
    text-align: center;
 
}

.benefits button {
    text-align: center;
 
}
























